.idea/
=======

### OSX ###
.DS_Store

### Intellij ###
*.iml
.idea/

### Java ###
*.class

### Eclipse ###
.project
.classpath
.settings/

### Maven ###
target/

### Sublime Text 2 ###
*sublime*

phantomjs/highcharts.js
